<section class="content-wrapper">
<div class="cms-clear">.</div>
  <%= render 'shared/cms_nav' %>
    <div class="article-wrapper">
      <%= render 'form' %>
    </div>
  <br class="clear" />
</section>