<section class="content-wrapper">
  <div class="article-wrapper">.</div>
    <div class="article-wrapper">
    <h1 class="box-title">Nieuw bericht</h1>
      <%= render 'form' %>
    </div>
  <br class="clear" />
</section>