<div class="box-title">Wedstrijdschema <%= @vcr_team.title %></div>
  <button class="button-green"><%= link_to 'Nieuwe wedstrijd toevoegen', new_member_path %></button>
  <div class="clear"></div>

<div class="article-text">
    Wedstrijden
</div>