<section class="content-wrapper">
  <div class="article-wrapper">.</div>
    <div class="article-wrapper"><h1 class="box-title">Nieuw VCR team aanmaken</h1>
      <%= render 'form' %>
    </div>
  <br class="clear" />
</section>