// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100italic,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import 'grid';
@import 'typography';

p {
  font-family: $font-stack;
  color: #555;
  line-height: 23px;
}

input {
  .article_title {
    height: 35px;
    width: 100%;
  }
}

.orange-link {
  font-family: $font-stack;
  font-size: 16px;
  color: #DD5F2A;
  text-decoration: none;
  margin-top: 15px;
  display: inline-block;
  &:hover {
    text-decoration: underline;
  }
}

.box-title {
  font-family: $font-stack;
  font-size: 28px;
  color: #2A2A2A;
  font-weight: 900;
  a {
    color: #2A2A2A;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.article-text {
  p:first-child {
    font-weight: 700;
    color: #000;
  }
}

.cover-image-clear {
  content: " ";
  height: 400px;
  display: block;
  width: 100%;
  margin-bottom: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  position: relative;
}

.article-cover-image {
  position: absolute;
  z-index: -1;
  width:100%;
  height:400px;
  display:inline-block;
  overflow:hidden;
  left: 0;
  img {
    position:absolute;
    pointer-events: none;
    top:52%;
    display:block;
    left:52%;
    -webkit-transform: translate(-52%, -52%);
    min-width: 104%;
    min-height:400px;
  }
}

#slides {
  margin-bottom: 40px;
}

.content-wrapper {
  width: $website-width;
  min-width: 1170px;
  margin: 0 auto;
  height: auto;
}

.article-wrapper {
  width: $col-2;
  box-sizing: border-box;
  display: inline-block;
  float: left;
  margin: $side-margin;
  padding: 4%;
  background-color: #FFF;
}

.homepage-article {
  position: relative;
  display: block;
  width: 100%;
  margin: 10px 0;
}

.article-row {
  display: table-row;
}

.article-image {
  display: table-cell;
  width:220px;
  height:130px;
  overflow:hidden;
  float: left;
  a {
    width: 100%;
    height: 100%;
    display: block;
  }
}

.article-title {
  display: table-cell;
  padding-left: 15px;
  vertical-align: middle;
  font-size: 1em;
  a {
    color: #2A2A2A;
    font-family: $font-stack;
    font-weight: 900;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.article-date {
  font-size: 1em;
  font-weight: 400;
  color: #DD5F2A;
  margin: 0;
}

.article-show-title {
  font-family: $font-stack;
  font-weight: 700;
  font-size: 26px;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
  padding: 0;
  color: #FFF;
  width: 50%;
  p {
    margin: 0;
  }
}

.article-show-date {
  font-size: 16px;
  color: #DD5F2A;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}

.show-container {
  position: absolute;
  bottom: 70px;
  left: 50%;
  margin-left: -41.665%;
  padding: 0 20px;
  width: $website-width;
  min-width: 450px;
}

.program-sidebar, .spotlight-sidebar {
  display: block;
  float: left;
  margin: $side-margin;
  width: $col-1;
  padding: $box-padding;
  box-sizing: border-box;
  background-color: #FFF;
}

.pagination-outer {
  width: 80%;
  margin: auto;
  font-family: $font-stack;
  margin-top: 20px;
}

.pagination {
  display: inline-flex;
  color: #9B9B9B;
  a {
    padding: 10px 15px;
    color: #9B9B9B;
    text-decoration: none;
    transition: 0.25s, ease;
    &:hover {
      color: #2A2A2A;
      transition: 0.25s, ease;
    }
  }
  .current {
    color: #DD5F2A;
    background: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    padding: 10px 15px;
  }
  .gap {
    padding: 10px 0;
  }
}

.disabled {
  font-style: italic;
  padding: 10px 15px;
}