//Grid system VCR-Website

$website-width: 1200px / 1440px * 100%;

$side-margin: 15px / 1200px * 100%;
$box-padding: 25px / 1200px * 100%;

$col-1: 370px / 1200px * 100%;
$col-2: 770px / 1200px * 100%;