@import 'typography';
@import 'grid';

header {
  background-color: rgba(0, 0, 0, 0.9);
  height: 90px;
  width: 100%;
  z-index: 999;
  padding: 0;
  position: fixed;
  nav {
    float: right;
    list-style: none;
    li {
      float: left;
      a {
        list-style: none;
        float: left;
        color: #FFF;
        font-family: $font-stack;
        font-weight: 700;
        font-size: 18px;
        padding: 13px 20px; 
        margin: 20px 0 20px 0px;
        border-radius: 4px;
        text-decoration: none;
      }
      &:hover {
        background-color: #333;
        transition: 0.25s, ease-in-out;
        color: #FFF;
      }
    }
  }
}

.active-menu {
  background-color: #F85824;
  &:hover {
    background-color: #F85824;
  }
}

#de-club {
  &:hover > .club-dropdown-wrapper {
    display: inline-block;
  }
}

#teams {
  &:hover > .teams-dropdown-wrapper {
    display: inline-block;
  }
}

.vcr-logo {
  width: 363px;
  height: 61px;
  margin-top: 14px;
}

.club-dropdown-wrapper, .teams-dropdown-wrapper {
 position: fixed;
 margin-top: 11px;
 background-color: rgba(0, 0, 0, 0.8);
 display: none;
 width: 100%;
 padding: 50px 0;
 top: 79px;
 z-index: 999;
 left: 0;
}

.club-dropdown, .teams-dropdown {
  width: $website-width;
  margin: auto;
}

.dropdown-list {
  float: left;
  width: $col-4;
  box-sizing: border-box;
  list-style: none;
  font-family: $font-stack;
  font-weight: 600;
  font-size: 18px;
  color: #DD5F2A;
  li {
    color: #FFFFFF;
    font-weight: 400;
    padding: 0;
    margin: 0; 
    float: none;
    a {
      float: none;
      display: inline-block;
      font-size: 18px;
      font-weight: 400;
      padding: 5px 0;
      margin: 0;
      &:hover {
        text-decoration: underline;
        color: #FFFFFF;
      }
    }
    &:hover {
      background-color: rgba(0,0,0,0.0);
    }
  }
}