@import url(http://fonts.googleapis.com/css?family=Roboto:400,100italic,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic);
@import 'grid';
@import 'typography';

.sponsor-wrapper {
  box-sizing: border-box;
  display: block;
  margin: $side-margin;
  padding: 4%;
  background-color: #FFF;
  .item {
    height: 90px;
    opacity: 0.5;
    margin: 0 10px;
  }
}

