// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'typography';
@import 'grid';

header {
  background-color: rgba(0, 0, 0, 0.9);
  height: 90px;
  width: 100%;
  z-index: 999;
  padding: 0;
  position: fixed;
  nav {
    float: right;
    list-style: none;
    li {
      float: left;
      a {
        list-style: none;
        float: left;
        color: #FFF;
        font-family: $font-stack;
        font-weight: 700;
        font-size: 18px;
        padding: 13px 20px; 
        margin: 20px 0 20px 0px;
        border-radius: 4px;
        text-decoration: none;
      }
      &:hover {
        background-color: #F85824;
      }
      &:hover  .club-dropdown-wrapper {
          display: inline-block;
      }
    }
  }
}

.club-dropdown-wrapper {
 position: fixed;
 margin-top: 11px;
 background-color: rgba(0, 0, 0, 0.7);
 display: none;
 width: 100%;
 padding: 50px 0;
 top: 79px;
 z-index: 999;
 left: 0;
}

.club-dropdown {
  width: $website-width;
  margin: auto;
}

.dropdown-list {
  float: left;
  width: $col-4;
  box-sizing: border-box;
  list-style: none;
  font-family: $font-stack;
  font-weight: 600;
  font-size: 18px;
  color: #DD5F2A;
  li {
    color: #FFFFFF;
    font-weight: 400;
    padding: 0;
    margin: 0; 
    float: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

#content {
  margin-top: -130px;
  position: absolute;
}

.active-menu {
  background-color: #F85824;
}

.vcr-logo {
  width: 363px;
  height: 61px;
  margin-top: 14px;
}

.slides-container {
  li {
    img {
      pointer-events: none;
    }
  }
}

.container {
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -41.665%;
  padding: 0 20px;
  width: $website-width;
  min-width: 11s70px;
}

#slides:hover > .slides-navigation {
  display: block;
  opacity: 1.0;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out;
  }

.slide-title {
  font-family: $font-stack;
  font-weight: 700;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
  padding: 0;
  width: 50%;
  a {
    color: #FFFFFF;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  h2 {
    font-size: 42px;
  }
  p {
    margin: 0;
  }
}

.slide-date {
  font-size: 16px;
  color: #DD5F2A;
  text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
}

.slides-navigation {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
  -moz-transition: opacity 0.25s ease-in-out;
  -webkit-transition: opacity 0.25s ease-in-out;
  a {
    color: #FFF;
    font-size: 24px;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
    padding: 59px 0;
  }
}

.current {
  background: #DD5F2A;
}

.grey-logo-wrapper {
  width: $website-width;
  box-sizing: border-box;
  margin: auto;
  img {
    display: block;
    margin: 86px auto;
  }
}

.games-wrapper {
  display: inline-block;
  margin-top: 15px;
}

.game {
  padding: 17px 0 21px 0;
  border-top: 1px solid #DEDEDE;
  display: inline-block;
  width: 100%;
  &:nth-child(3) {
    margin-top: 16px;
    border-bottom: 1px solid #DEDEDE;
  }
  &:before {
    margin-top: 16px;
  }
}

.game-date {
  display: block;
  font-family: $font-stack;
  font-size: 14px;
  color: #9B9B9B;
  margin-bottom: 10px;
}

.teamlogo-container {
  display: block;
  float: left;
}

.teamlogo {
  height: 50px;
  width: 50px;
  float: left;
  background-position: center;
  background-size: cover;
  &:nth-child(2) {
    margin-left: 10px;
  }
}

.teamname-container {
  margin-left: 20px;
  display: block;
  float: left;
  box-sizing: border-box;
}

.teamname {
  font-family: $font-stack;
  font-size: 16px;
  color: #383838;
  &:nth-child(2) {
    margin-top: 5px;
  }
}