<section class="content-wrapper">
  <div class="cms-clear">.</div>
  <%= render 'shared/cms_nav' %>
    <div class="article-wrapper"><h1 class="box-title">Wedstrijd Bewerken</h1>
      <%= render 'form' %>
    </div>
  <br class="clear" />
</section>